body {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
img {
  width: 100%;
  height: 240px;
}
li {
  width: 30%;
  height: 100%;
}
#show-more-button {
  margin-left: 30px;
}
.hidden {
  display: none;
}
.search-form {
  margin-left: 30px;
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.photo-card {
  margin-right: 10px;
  height: 100%;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material-icons {
  border: 1px solid rosybrown;
}
